version: '3.8'
services:
  redis:
    image: redis:7.2-alpine
    restart: always
    network_mode: bridge

  ntopng:
    image: ntop/ntopng:5.6-stable
    restart: always
    network_mode: host
    depends_on: [redis]

  adguardhome:
    image: adguard/adguardhome:latest
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./adguard/work:/opt/adguardhome/work
      - ./adguard/conf:/opt/adguardhome/conf
    ports:
      - 53:53/tcp
      - 53:53/udp
      - 3000:3000/tcp

  crowdsec:
    image: crowdsecurity/crowdsec:v1.6.2
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./crowdsec/config:/etc/crowdsec
      - ./crowdsec/data:/var/lib/crowdsec/data

  suricata:
    image: jasonish/suricata:7.0.3
    restart: unless-stopped
    network_mode: host
    cap_add: [NET_ADMIN, NET_RAW]
    volumes:
      - ./suricata:/var/log/suricata
